@{
}
@using Microsoft.AspNetCore.Http;
<script src="~/js/angular.min.js"></script>
<script src="~/js/angular-sanitize.min.js"></script>
<script>
    var app = angular.module('myApp', []);

    app.controller('customersCtrl', function ($scope, $http, $location) {

        $scope.Products = [];
        $scope.Type = "Vegetarian";
        $scope.Keyword = '';
        $scope.Cart = [];
        $scope.Price = 0;
        $scope.PIDs = [];

        $scope.QueryStringToJSON = function () {
            var pairs = location.search.slice(1).split('&');
            var result = {};
            pairs.forEach(function (pair) {
                pair = pair.split('=');
                result[pair[0]] = decodeURIComponent(pair[1] || '');
            });
            return JSON.parse(JSON.stringify(result));
        }
        $scope.QueryStringOb = $scope.QueryStringToJSON();


        $scope.Load = function () {



            $scope.Cart = [];
            if (localStorage.getItem("PIDs") == null) return;

            $scope.PIDs = JSON.parse(localStorage.getItem("PIDs"));


            for (var n = 0; n < $scope.Products.length; n++) {
                if ($scope.PIDs.includes($scope.Products[n].PID)) {
                    alert($scope.Products[n].PID);
                    //$scope.Cart.push($scope.Products[n]);
                }

            }

        }
        $scope.Load();
        $scope.Search = function () {


            $http.get("/products/SearchProducts?Keyword=" + $scope.Keyword).then(function (response) {

                $scope.Products = response.data;
                for (var n = 0; n < $scope.Products.length; n++) $scope.Products[n].OrderedQuantity = 1;
                console.log($scope.Products);


            });
        }
        $scope.Search();
        $scope.AddToCart = function (Product) {


            if ($scope.Cart.includes(Product)) return;
            $scope.Cart.push(Product);
            $scope.PIDs.push(Product.PID);

            localStorage.setItem("Cart", JSON.stringify($scope.Cart));
            localStorage.setItem("PIDs", JSON.stringify($scope.PIDs));

            console.log($scope.PIDs);
        }
        $scope.RemoveFromCart = function (Product) {

            $scope.Cart.splice($scope.Cart.indexOf(Product), 1);
            $scope.PIDs.splice($scope.PIDs.indexOf(Product.PID), 1);
            localStorage.setItem("Cart", JSON.stringify($scope.Cart));
            localStorage.setItem("PIDs", JSON.stringify($scope.PIDs));
            console.log($scope.PIDs);

        }


        $scope.Filter = function () {
            $scope.Products = [];
            for (var n = 0; n < $scope.AllProducts.length; n++) {
                if ($scope.AllProducts[n].ProductName.toLowerCase().includes($scope.Keyword.toLowerCase()) && $scope.AllProducts[n].Type == $scope.Type)
                    $scope.Products.push($scope.AllProducts[n])
            }
        }

        $scope.SelectedItems = [];

        $scope.Select = function (Item) {

            if (!$scope.SelectedItems.includes(Item))
                $scope.SelectedItems.push(Item);
            else
                $scope.SelectedItems.splice($scope.SelectedItems.indexOf(Item), 1);

            console.log($scope.SelectedItems);
        }
        $scope.CheckOut = function () {

            window.location.assign("/Products/PointOfSale");

        }
        $scope.ChangeType = function (Type) {
            $scope.Type = Type;
            $scope.Filter();
        }
        $scope.ClearCart = function () {
            $scope.Cart = [];
            localStorage.removeItem("Cart");
            localStorage.removeItem("PIDs");
        }
        $scope.ClearCart();

    });


</script>



<div ng-app="myApp" ng-controller="customersCtrl">




    <div class="container" style="margin-top: 20px;">
        <div class="card shadow" style="border-radius: 25px;">
            <div class="card-body">
                <div class="row">
                    @*<div class="col-4">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text">City</span></div><input type="text" class="form-control" />
                            <div class="input-group-append"></div>
                        </div>
                    </div>*@
                    <div class="col">
                        <div class="input-group">
                            <input type="text" ng-model="Keyword" class="form-control" placeholder="Search Business Name  |  Item . . ." />
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">Go!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-3">
                <div class="card shadow-sm mb-3">
                    <div class="card-body">
                        <h6 class="text-danger card-title">Filters</h6>
                        <hr /><span>Price Range [ {{Price}} - 5000 ]</span>
                        <input type="range" class="custom-range" ng-model="Price" max="5000" min="10" step="10" />
                    </div>
                </div>
                <div class="card shadow-sm" style="margin-bottom: 15px;">
                    <div class="card-body">
                        @if (Context.Session.GetString("UserType") != null && Context.Session.GetString("UserType").Equals("User"))
                        {
                            <button ng-disabled="Cart.length==0" ng-click="CheckOut()" class="btn btn-primary btn-block" type="button">({{Cart.length}}) Check Out <i class="fa fa-shopping-cart" style="margin-left: 12px;"></i></button>
                            <button class="btn btn-warning btn-block" ng-click="ClearCart()" type="button">Clear Cart</button>

                        }
                        else
                        {
                            <a class="btn btn-danger btn-block" ng-href="@Url.Action("Login","Users")">Login to CheckOut</a>
                        }


                    </div>
                </div>
            </div>
            <div class="col">
                <div ng-repeat="Product in Products | filter : Keyword" ng-show="Price <= Product.Price">
                    <div class="media">
                        <img class="mr-3" style="max-height:128px;max-width:128px" src="{{Product.ImageUrl}}" />
                        <div class="media-body">
                            <h5 class="text-warning">{{Product.ProductName}}</h5>
                            <p style="margin-bottom: 5px;"><i class="fa fa-rupee"></i> Price :  <strong>{{Product.Price}} </strong>/-</p>
                            @*<p style="margin-bottom: 5px;"><i class="fa fa-user"></i> Contact Person : <strong>Mohit Sharma</strong> - +91- <strong>7007997887</strong></p>*@
                            <p style="margin-bottom: 5px;"><i class="fa fa-calendar"></i> Posted On : <strong>{{Product.AddedOn}}</strong></p>

                            <button ng-click="AddToCart(Product,$index)" ng-hide="Cart.includes(Product)" class="btn btn-success" type="button">Add to Cart</button>
                            <button ng-click="RemoveFromCart(Product,$index)" ng-show="Cart.includes(Product)" class="btn btn-warning" type="button">Remove from Cart</button>

                        </div>
                    </div>
                    <hr />
                </div>

            </div>
        </div>
    </div>



</div>