@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron hero-technology" style="height: 638px;">
    <h1 class="text-warning hero-title">Scrap Kart</h1>
    <p class="hero-subtitle">Perfect Place to sell your Scrap</p>
    <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#">Search</a></p>
</div>
